@font-face {
	font-family: Connection;
	src: url(style/fonts/connection.otf);
}

body {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: Connection, sans-serif;
	background-color: #1D1D1D;
	color: #EFEFEF;
	font-size: calc(min(2vh, 1vw) + 0.5rem);
}

.besides_nav_bar {
	margin-left: 20%
}

.top_nav_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	font-size: 2em;
	background-color: #5f3de7;
}

@media screen and (orientation:portrait) {
	.top_nav_bar {
		width: 0%;
		font-size: 0%;
	}

	.besides_nav_bar {
		margin-left: 0%
	}
}


.top_nav_bar p {
	text-align: center;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.top_nav_bar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.top_nav_bar a {
	top: 0;
	font-size: 0.8em;
	text-indent: 5%;
	background-color: #6c48ff;
	color: lightgrey;
}

.top_nav_bar_button_entry {
	background-color: rgba(255, 255, 255, 0.1);
	width: 100%;
	float: left;
	margin: 0.1%;
	transition-duration: 250ms;
}

.top_nav_bar_button_entry:hover {
	background-color: rgb(231, 151, 255);
}

.top_nav_bar_button_entry:focus {
	background-color: rgba(255, 255, 255, 0.5);
}

.content {
	display: grid;
	position: relative;
	color: #BDBDBD;
}

.content div {
	grid-row-start: 1;
	grid-column-start: 1;
	text-align: left;
	align-items: center;
	justify-content: right;
}

.content p {
	margin-right: 9vw;
	margin-left: 9vw;
	padding-left: 6vw;
	padding-right: 6vw;
}

.content h2 {
	margin-right: 9vw;
	margin-left: 7vw;
	padding-left: 6vw;
	padding-right: 6vw;
}

@media screen and (orientation:portrait) {
	.content_title p {
		font-size: 2em;
		margin-right: 2vw;
		margin-left: 2vw;
	}

	.content p {
		font-size: 2em;
		margin-right: 2vw;
		margin-left: 2vw;
	}

	.content ul {
		font-size: 2em;
		margin-right: 2vw;
		margin-left: 2vw;
	}
}

.content ul {
	margin-right: 9vw;
	margin-left: 9vw;
	padding-left: 6vw;
	padding-right: 6vw;
}

.content_fg {
	display: grid;
	z-index: 1;
}

.content_overlay_background {
	background-color: rgba(34, 34, 34, 0.8);
	width: 100% - 4vw;
	margin-top: 5vw;
	margin-bottom: 5vw;
	margin-left: 5vw;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 6vh;
	padding-bottom: 6vh;
	overflow: hidden;
	border-radius: 1vw;
}

.content_fg p {
	margin-top: 5%;
	margin-bottom: 5%;
	color: rgba(239, 239, 239, 1.0);
	width: 100%;
}

.content_fg h1 {
	margin-top: 5%;
	margin-bottom: 5%;
	color: rgba(239, 239, 239, 1.0);
}

a {
	text-decoration: none;
	color: inherit;
	transition-duration: 250ms;
}

.content_socials a {
	width: 100%;
	text-decoration: none;
	color: inherit;
	display: flex;
	text-align: center;
	align-items: center;
	transition-duration: 100ms;
	margin-top: -1.2em;
	margin-bottom: -1.2em;
}

.nav_bar_socials_container {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

.nav_bar_socials a {
	position: relative;
	display: block;
	color: lightgrey;
	font-size: 0.5em;
	text-align: left;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 2px;
	margin-bottom: 2px;
}

a:hover {
	background-color: rgb(231, 151, 255);
}

.external_content_page {
	position: relative;
	display: flex;
	float: left;
	width: 100%;
	height: 100%;
}

.content_button {
	border-radius: 1vw;
	background-color: #00ADB5;
	padding: 0.5vw;
	padding-bottom: 0.55vw;
	transition-duration: 250ms;
}

.content_button:focus {
	background-color: rgba(47, 47, 47, 1.0) !important;
}

.content_button:hover {
	background-color: rgba(239, 239, 239, 1.0);
	color: #00ADB5;
	padding: 1vw;
}

.content_title_link {
	border-radius: 1vw;
	transition-duration: 250ms;
	font-size: calc(min(4vh, 2vw) + 1rem);
}

.content_title_link:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.content_title_link:focus {
	background-color: rgba(34, 34, 34, 0.8) !important;
}

.content_grid {
	display: grid;
	grid-template-columns: 36vw 36vw;
	grid-auto-rows: 24vw;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
	justify-content: center;
}

@media screen and (orientation:portrait) {
	.content_grid {
		grid-template-columns: 80vw;
		grid-auto-rows: 53.333vw;
	}
}

@media screen and (orientation:landscape) {
	.content_grid {
		grid-template-columns: 36vw 36vw;
		grid-auto-rows: 24vw;
	}
}

.image_grid {
	display: grid;
	grid-template-columns: 36vw 36vw;
	grid-auto-rows: 24vw;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	justify-content: center;
}

.image_single {
	display: grid;
	grid-template-columns: 42.66vw;
	grid-auto-rows: 24vw;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	justify-content: center;
}

@media screen and (orientation:portrait) {
	.image_grid {
		grid-template-columns: 40vw 40vw;
		grid-auto-rows: 22.5vw;
	}
}

@media screen and (orientation:landscape) {
	.image_grid {
		grid-template-columns: 25vw 25vw;
		grid-auto-rows: 14.0625vw;
	}
}

.image_grid_entry {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	object-fit: cover;
	background-color: rgba(255, 255, 255, 0.1);
	color: #EFEFEF;
	background-blend-mode: multiply;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 0%;
	border-radius: 1vw;
	transition-duration: 250ms;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-size: calc(max(0.75vw, 0.75vh) + 1rem);
	overflow: hidden;
}

.image_grid_entry img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.content_grid_entry {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	color: #EFEFEF;
	background-blend-mode: multiply;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 1%;
	border-radius: 1vw;
	transition-duration: 250ms;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

@media screen and (orientation:portrait) {
	.content_grid_entry {
		color: rgba(255, 255, 255, 1.0);
		font-size: 2em;
	}
}

@media screen and (orientation:landscape) {
	.content_grid_entry {
		color: rgba(239, 239, 239, 0.0);
		font-size: 1.5em;
	}
}

.content_grid_entry:hover {
	transform: scale(1.1);
	color: rgba(239, 239, 239, 1.0);
	background-color: rgba(127, 127, 127, 1.0);
}

.content_title {
	text-align: center;
	font-size: 2em;
}

.inline_image {
	width: 3vw;
	padding: 1%;
	vertical-align: middle;
}

.content_borderless_grid {
	display: grid;
	grid-template-columns: 36vw 36vw;
	grid-auto-rows: 24vw;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 32px;
	margin-bottom: 32px;
	justify-content: center;
	font-size: 1em;
}

.content_borderless_grid_entry img {
	width: 2em;
	margin-top: -1.2em;
	margin-bottom: -1.2em;
}

@media screen and (orientation:portrait) {
	.content_borderless_grid {
		grid-template-columns: 80vw;
		grid-auto-rows: 16em;
		font-size: 2em;
	}
}

@media screen and (orientation:landscape) {
	.content_borderless_grid {
		grid-template-columns: 28vw 28vw;
		grid-auto-rows: 16em;
		font-size: 1em;
	}
}